<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phone.ghtk.vn.masterdevrecyclerview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerViewDragSwipeActivity"></activity>
        <activity android:name=".EditTextinRecyclerViewActivity" />
        <activity android:name=".RecyclerViewinRecyclerViewActivity" />
        <activity android:name=".RecyclerViewinScrollViewActivity" />
        <activity android:name=".RecyclerView1000Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>